 <!DOCTYPE html>
<html>
<head>
  <title>App Name</title>
  <%= stylesheet_link_tag    "public" %>
  <%= javascript_include_tag "JQuery", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Create Category</h1>
<%= yield %>

</body>
</html>
