<h1>Welcome to First Website Ruby on Rails</h1>
<hr>
<h2>Menu</h2>
<ul type="1">
	<li><%= link_to "Article", {:controller => "articles", :action => "index"}, :class => "new-article" %></li>
	<li><%= link_to "User", {:controller => "users", :action => "index"}, :class => "new-article" %></li>
	<li><%= link_to "Product", {:controller => "products", :action => "index"}, :class => "new-article" %></li>
	<li><%= link_to "Category", {:controller => "categories", :action => "index"}, :class => "new-article" %></li>
	<li><%= link_to "Country", {:controller => "countries", :action => "index"}, :class => "new-article" %></li>	
</ul>