<h1>Edit Comment Detail</h1>
<%= form_for @comment do |f| %>
<p>
  <label >Content</label> :
  <%= f.text_field :content %>
</p>
<p>
  <label >User ID</label> :
  <%= f.text_field :user_id %>
</p>
<p>
  <label >Article ID</label> :
  <%= f.text_field :article_id %>
</p>

<%= f.submit  "Save changes" %>
<% end %>

