<h1>List of Comments</h1>

<table border="1">
  <thead>
    <tr>
      <th>Content</th>
      <th>Options</th>
    </tr>
  </thead>

  <% @comments.each do |comment| %>
    <tr>
      <td><%= link_to comment.content, comment %></td>
      <td>
        <%= link_to 'Edit', edit_comment_path(comment.id) %>
        <%= link_to 'Delete', comment_path(comment.id), :method => :delete, :data => { confirm: 'Are you sure?' }  %>
      </td>
    </tr>
  <% end -%>
</table>

<p><%= link_to 'New Comment', new_comment_path %></p>