<h1>Add New Comment</h1>
<%= form_for @comment do |f| %> 
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  Content : <%= f.text_field :content %>  <br />
  User ID : <%= f.text_field :user_id %>  <br />
  Article ID : <%= f.text_field :article_id %>  <br />
  <%=f.submit :create %>
<% end %>
