<h1>Update Article</h1>
<%= form_for @article do |f| %>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

	<p><label for="article_title">Name</label>:
		<%= f.text_field :title %></p>
	<p><label for="article_rating">Rating</label>:
		<%= f.text_field :rating %></p>
	<p><label for="article_description">Description</label><br/>
		<%= f.text_area :descriptions %></p>
		<%= f.hidden_field :user_id, :value => current_user.id %></p>
		<%= f.submit :update%>
		<%= link_to 'Back', {:action => 'index'} %>
<% end %>