<%= yield %>
<h1>Index Article </h1>

<%# = @product %>
<table class="pretty" border="1">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Rating</th>
    <th>Action</th>
  </tr>
  <% for article in @article %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.descriptions %></td>
    <td><%= article.rating %></td>
    <td>
        <b> <%= link_to 'Show', {:action => "show", :id => article.id} %></b> |
        <b> <%= link_to 'Edit', {:action => "edit", :id => article.id} %></b> |
        <b> <%= link_to 'Delete', {:action => "destroy", :id => article.id}, :method => :delete, :confirm => "Are you sure you want to delete this item?" %></b>
    </td>
  </tr>
  <% end %>
</table>

<p><%= link_to "Add New Article", {:controller => "articles", :action => "new"}, :class => "new-article" %></p>
<p><%= link_to "Back to Home", {:controller => "menus", :action => "index"}, :class => "new-article" %></p>
