<!--This section is to show all comments that owned by the article  -->
<div id="comments">
<h4>Comment</h4>
  <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div>


<% unless(current_user.nil?)%>
	<h4>Add New Comment</h4>
   <%= form_for @comment, :url => comments_path, :remote => true do |f| %>
      <%= f.text_area :content, :size => '60px' %>
      <%= f.hidden_field :article_id, :value => @article.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= submit_tag "comment" %>
  <% end -%>
<% end %>

<h1><%= @article.title %></h1>
<p><strong>Rating: </strong> <%= @article.rating %><br />
<p> <%= @article.descriptions %> </p><br />

<hr />
<%= link_to 'Back', {:action => 'index'} %>