<%= yield %>
<h1>Update User</h1>
<%= form_for @user do |f| %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

	<p><label for="user_first_name">First Name</label>:
		<%= f.text_field :first_name %></p>
	<p><label for="user_last_name">Last Name</label>:
		<%= f.text_field :last_name %></p>
	<p><label for="user_email">Email</label>:
		<%= f.text_field :email %></p>
	<p><label for="user_username">Username</label>:
		<%= f.text_field :username %></p>
	<p><label for="user_password">Password</label>:
		<%= f.password_field :password %></p>
	<p><label for="user_password">Password Confirmation</label>:
		<%= f.password_field :password_confirmation %></p>
	<p><label for="user_date_of_birth">Date of Birth</label>:
		<%= f.text_field :date_of_birth %></p>
	<p><label for="user_age">Age</label>:
		<%= f.text_field :age %></p>
	<p><label for="user_address">Address</label>:
		<%= f.text_field :address %></p>
	
	
		<%= f.submit :update%>
		<%= link_to 'Back', {:action => 'index'} %>
<% end %>