<%= yield %>

<h1>Index User </h1>

<%# = @product %>
<table class="pretty" border="1">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Username</th>
    <th>Password</th>
    <th>Date of Birth</th>
    <th>Age</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  <% for user in @user %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.username %></td>
    <td><%= user.password %></td>
    <td><%= user.date_of_birth %></td>
    <td><%= user.age %></td>
    <td><%= user.address %></td>
    <td>
        <b> <%= link_to 'Show', {:action => "show", :id => user.id} %></b> |
        <b> <%= link_to 'Edit', {:action => "edit", :id => user.id} %></b> |
        <b> <%= link_to 'Delete', {:action => "destroy", :id => user.id}, :method => :delete, :confirm => "Are you sure you want to delete this item?" %></b>
    </td>
  </tr>
  <% end %>
</table>

<p><%= link_to "Add New User", {:controller => "users", :action => "new"}, :class => "new-article" %></p>
<p><%= link_to "Back to Home", {:controller => "menus", :action => "index"}, :class => "new-article" %></p>
