<h1>Sign Up !</h1>
<%= form_for @user do |f| %>

	<p><label for="user_first_name">First Name</label>:
		<%= f.text_field :first_name %></p>
	<p><label for="user_last_name">Last Name</label>:
		<%= f.text_field :last_name %></p>
	<p><label for="user.email">Email</label>:
		<%= f.text_field :email %></p>
	<p><label for="user_username">Username</label>
		<%= f.text_field :username %></p>
	<p><label for="user_password">Password</label>
		<%= f.password_field :password %></p>
	<p><label for="user_password">Password Confirmation</label>
		<%= f.password_field :password_confirmation %></p>
	<p><label for="user_date_of_birth">Date of Birth</label>
		<%= f.text_field :date_of_birth %></p>
	<p><label for="user_age">Age</label>
		<%= f.text_field :age %></p>
	<p><label for="user_address">Address</label>
		<%= f.text_field :address %></p>
	<p><label for="user_country_id">Country</label>:
		<%= collection_select(:user,:country_id, @country,:id,:name) %></p>
	
	<%= recaptcha_tags %>

		<%= f.submit :create%>
		<%= link_to 'Back', {:action => 'index'} %>
<% end %>