<%= yield %>
<h1><%= @user.first_name + ' ' + @user.last_name %></h1>
<p><strong>Email: </strong> <%= @user.email %><br />
<p><strong>Username: </strong> <%= @user.username %><br />
<p><strong>Password: </strong> <%= @user.password %><br />
<p><strong>Date of Birth: </strong> <%= @user.date_of_birth %><br />
<p><strong>Age: </strong> <%= @user.age %><br />
<p><strong>Address: </strong> <%= @check_country %><br />

<hr />
<%= link_to 'Back', {:action => 'index'} %>
