<div class="listing">
      <% @countries.each do |country| %>
        <div>
     <span> <%= country.code %> </span>
           <span> <%= country.name %>  </span>
        </div>
     <% end %>
</div>
<%= will_paginate @country %>
