<h1>Update Country</h1>
<%= form_for @country do |f| %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

	<p><label for="country_code">Code</label>:
		<%= f.text_field :code %></p>
	<p><label for="country_name">Name</label>:
		<%= f.text_field :name %></p>
		<%= f.submit :update%>
		<%= link_to 'Back', {:action => 'index'} %>
<% end %>