<%= yield %>
<h1>Index Country </h1>

<%# = @product %>
<p align="right"><%= link_to "Add New Country", {:controller => "countries", :action => "new"}, :class => "new-article" %></p>

<table id="country_lists" class="display">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <% for country in @country %>
  <tr>
    <td><%= country.code %></td>
    <td><%= country.name %></td>
    <td>
        <b> <%= link_to 'Show', {:action => "show", :id => country.id} %></b> |
        <b> <%= link_to 'Edit', {:action => "edit", :id => country.id} %></b> |
        <b> <%= link_to 'Delete', {:action => "destroy", :id => country.id}, :method => :delete, :confirm => "Are you sure you want to delete this item?" %></b>
    </td>
  </tr>
  <% end %>
</table>
<%= pie_chart Country.group(:name).count %>
<%= column_chart Country.group(:name).count, colors: ["pink", "#999"] %>

<p><%= link_to "Back to Home", {:controller => "menus", :action => "index"}, :class => "new-article" %></p>
