body{
background: #f1f1f1;
 
}
 
#wrapper{
background: #f1f1f1;
border: 1px solid black;
width: 960px;
margin: 0px auto;
height: auto;
}
#header{
background-image:url("rails.png");
width: 940px;
margin: 0px auto;
height: 100px;
margin-top: 10px;
}
 
#page{
background: white;
border: 1px solid black;
width: 940px;
height: auto;
margin:0px auto;
margin-top:10px;
margin-bottom: 10px;
}
 
#konten{
background: black;
width: 630px;
margin: 0px auto;
float: left;
height: auto;
}
#sidebar{
background: red;
float: right;
width: 300px;
margin: 0px auto;
}
#footer{
background: orange;
margin: 0px auto;
margin-bottom: 10px;
width: 940px;
height: 30px;
}
#footer p{
text-align: center;
padding-top: 5px;
}

#wrapper a{
  text-decoration: none;
}

#wrapper a:hover{
  text-decoration: none;
  color: white;
  background-color: red;
}
	