<%= yield %>
<h1>Index Category </h1>

<%# = @product %>
<table class="pretty" border="1">
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>
  <% for category in @category %>
  <tr>
    <td><%= category.name %></td>
    <td>
        <b> <%= link_to 'Show', {:action => "show", :id => category.id} %></b> |
        <b> <%= link_to 'Edit', {:action => "edit", :id => category.id} %></b> |
        <b> <%= link_to 'Delete', {:action => "destroy", :id => category.id}, :method => :delete, :confirm => "Are you sure you want to delete this item?" %></b>
    </td>
  </tr>
  <% end %>
</table>

<p><%= link_to "Add New Category", {:controller => "categories", :action => "new"}, :class => "new-article" %></p>
<p><%= link_to "Back to Home", {:controller => "menus", :action => "index"}, :class => "new-article" %></p>
