<h1>New Category</h1>
<%= form_for @category do |f| %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>
  
	<p><label for="category_name">Name</label>:
		<%= f.text_field :name %></p>
		<%= f.submit :create%>
		<%= link_to 'Back', {:action => 'index'} %>
<% end %>