<%= yield %>
<h1>Index Products </h1>

<%# = @product %>
<table class="pretty" border="1">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  <% for product in @product %>
  <tr>
    <td><%= product.name %></td>
    <td class="price"><%= number_to_currency(product.price, :unit => "Rp. ") %></td>
    <td><%= product.stock %></td>
    <td><%= product.description %> </td>
    <td>
        <b> <%= link_to 'Show', {:action => "show", :id => product.id} %></b> |
        <b> <%= link_to 'Edit', {:action => "edit", :id => product.id} %></b> |
        <b> <%= link_to 'Delete', {:action => "destroy", :id => product.id}, :method => :delete, :confirm => "Are you sure you want to delete this item?" %></b>
    </td>
  </tr>
  <% end %>
</table>

<p><%= link_to "Add New Product", {:controller => "products", :action => "new"}, :class => "new-article" %></p>
<p><%= link_to "Back to Home", {:controller => "menus", :action => "index"}, :class => "new-article" %></p>
