<h1>New Products</h1>
<%= form_for @product do |f| %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

	<p><label for="product_name">Name</label>:
		<%= f.text_field :name %></p>
	<p><label for="product_price">Price</label>:
		<%= f.text_field :price %></p>
	<p><label for="product_stock">Stock</label>:
		<%= f.text_field :stock %></p>
	<p><label for="product_description">Description</label><br/>
		<%= f.text_area :description %></p>
		<%= f.submit :create%>
		<%= link_to 'Back', {:action => 'index'} %>
<% end %>