<h1><%= 'Product Name = ' + @product.name %></h1>
<p><strong>Price: </strong> <%= number_to_currency(@product.price, :unit => "Rp. ") %><br />
<p><strong>Stock: </strong> <%= @product.stock %><br />


<hr />
<%= link_to 'Back', {:action => 'index'} %>