<!DOCTYPE html>
<html>
<head>
  <title>TrainingRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- For Chart -->
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'highcharts' %>
  <!-- End Chart-->

  <!-- For Maps API -->
  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
  <!-- ENd Maps API -->

  <!--[if IE]>
  <%= javascript_include_tag 'excanvas.compiled' %>
  <![endif]-->
</head>

<body>
	<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
	
	<div id="wrapper"> 
		<div id="header">
		</div>

		<p>
			<%= raw(welcome_text) %>
			<%= raw(menu) %>
		</p>

		<div id="page">
			<%= yield %>	
		</div>

		<div id="footer">
			<p>PT.Walden Global Services &copy; 2014</p>
		</div>
	</div>
</body>
</html>
